*{
	margin:0px;
	padding:0px;
	box-sizing: border-box;
	font-family: 'Lato', sans-serif;
	text-decoration: none;
}
header{
	background-image: url(../img/apartment5.jpg);
	color: white;
	flex-direction: column;
	text-align: center;
	width: 100%;
	min-height: 800px;
	position: relative;
	z-index: 2;
	background-position: bottom;
	background-attachment: fixed;
	background-size: cover;
	background-position: top;
}
header div{
	flex-direction: column;
}
.full_img{
	width: 100%;
	min-height: 700px;
	position: relative;
	z-index: 2;
	background-position: bottom;
	background-attachment: fixed;
	background-size: cover;
	background-position: top;
}
h1{
	padding: 30px;
	text-shadow: 1px 1px black;
}
h2{
	color: rgb(29, 91, 147);
	font-size: 36px;
	font-weight: 400;
	max-width: 400px;
	margin-top: 40px;
}
h3{
	font-size: 18px;
	color: #07afab;
	line-height: 22px;
	font-weight: 400;
	margin: 10px;
	width: 100px;
	text-align: center;
	padding-bottom: 30px;
}
h3 span{
	width: 100%;
	height: 2px;
	display: inline-block;
	transform: scaleX(0);
	transition: all 0.3s ease-in;
}
h3:hover span{
	width: 100%;
  transition: 0.3s ease all;
	transform: scaleX(1);
	background-color:rgb(29, 91, 147);
	}
h4{
	font-weight: 400;
}

h5{
	font-size: 24px;
	color: #343838;
	line-height: 1.6;

}
p{
	font-weight: 400;
}
table{
	display: flex;
	padding-bottom: 20px;
	text-align: center;

}
th, td{
	border-bottom: 1px solid #ddd;
	padding: 8px;
}
.dimmer{
	width: inherit;
	height: 1350px;
	position: absolute;
	z-index: -1;
	background-color: rgba(100,100,100,0.6);
	top: 0px;
	left: 0;
}
.buttons{
	width: 200px;
	height: 50px;
	background-color:#20B2AA;
	color:white;
	font-size: 18px;
	border-radius: 5px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 10px;
}
.buttons:hover{
	color: #20B2AA;
	background-color: rgb(255, 255, 255);
	transition: 300ms;
}
.flex{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}
.grid_class{
	width: 100%;
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
	grid-gap: 10px;
}
.grid_class img{
width: 100%;
height: 200px;
object-fit: cover;

}
.photo{
	margin-top: 50px;
		width: 200px;
		height: 200px;
		border-radius: 100%;
		background-image: url(../img/bob_opt.jpg);
		background-position: top;
		background-repeat: no-repeat;
		background-size: cover;
}
.scrool img{ 
	width: 150px;
	height: 150px;
}
.info_box{
	background-color: rgb(255, 255, 255);
	position: relative;
	z-index: 20;
	width: 100%;
	min-height: 500px;
	flex-direction: column;
	padding: 20px;
}
.info_box p{
	max-width: 900px;
	line-height: 1.8;
	text-align: center;
	margin: 30px;
}
.info_box1{
	width: 100%;
	min-height: 500px;

}
.darbai{
	text-align: center;
	line-height: 2.6;
}
.box2{
	background-image: url(../img/apartment3.jpg);
}
.box3{
	background-image: url(../img/kitchen_led_light.jpg);
}
.box4{
	background-image: url(../img/n1.jpg);
}
.box5{
	background-image: url(../img/n3.jpg);
}

.box6{
	background-image: url(../img/newww.jpg);
}
footer{
	position: relative;
	z-index: 2;
	width: 100%;
	min-height: 650px;
	background-color: rgb(255, 255, 255);
	flex-direction: column;
}
footer .lastDiv{
	margin: 20px;
	width: 100%;
	justify-content: space-around;
}
iframe{
	filter: grayscale(100%);
	width: 600px;
	height: 400px;
}
address{
	padding-top: 30px;
}
.comingSoon{
	width: 300px;
}